@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FBFFE4; /* */
  --foreground: #3D8D7A; /* */
}

body {
  color: var(--foreground); /* */
  background: var(--background); /* */
  /* font-family: Arial, Helvetica, sans-serif; */
}

.placeholder-block {
  @apply bg-input-bg rounded-xl;
}
